$iconUrl: url(./assets/icons.png);
$iconStartSize: 200px 150px;

@mixin weatherIcons(
  $scale,
  $leftOffset,
  $ePos,
  $iStart,
  $iEnd,
  $url: $iconUrl,
  $size: $iconStartSize
) {
  &:nth-child(n + #{$ePos}) {
    position: relative;
  }

  $offset: calc($scale * nth($size, 1) / nth($size, 2));

  &:nth-child(n + #{$ePos}):before {
    content: ' ';
    width: #{$offset};
    height: $scale;
    background-image: $url;
    background-size: cover;

    position: absolute;
    left: $leftOffset;
  }

  $res: 0 - $iStart * $offset;

  @for $i from 0 to $iEnd {
    &:nth-child(#{$ePos}):before {
      $ePos: $ePos + 1;
      background-position: $res;
      $res: $res - $offset;
    }
  }
}

html {
  height: 100vh;
  background-image: linear-gradient(243.18deg, #5cebd1 0%, #1a2b2c 100%);
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.city {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;

  input {
    border-radius: 15px;
    padding: 15px;
    margin: 40px 0;
    font-size: 20px;
  }

  button {
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 15px;
  }
}

.loader {
  width: 200px;
  height: 300px;
  background-color: black;
}

.container {
  background-image: linear-gradient(243.18deg, #5cebd1 0%, #1a2b2c 100%);
  font-family: 'Roboto', sans-serif;
  color: #fff;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  .otherData {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    margin: 0 20px;

    span {
      @include weatherIcons(35px, -45px, 1, 1, 4);

      margin-left: 50px;

      &:before {
        top: -10px;
      }
    }
  }
}

.cityLabel {
  margin: 50px 0;

  input {
    border-radius: 5px;
    padding: 3px;
  }
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  & > * {
    margin-top: 10px;
  }
}

.currentTemp {
  font-size: 18px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;

  .sky {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 25px;

    img {
      width: 150px;
      height: 150px;
      margin-top: -30px;
    }
  }

  .tempWrapper {
    display: flex;
    margin: 20px 0;

    .temperatures {
      margin: 0 30px;
      display: flex;
      flex-flow: column wrap;
      align-items: flex-end;

      span {
        margin-top: 5px;
      }

      .current {
        font-size: 96px;
      }
    }

    .measure {
      font-size: 180px;
      position: relative;

      sup {
        font-size: 50px;
        position: absolute;
        left: -20px;
      }
    }
  }

  .sun {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .sunrise,
    .sunset {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 40px;
      padding: 30px;

      font-size: 30px;

      border-radius: 30px;
    }

    .sunrise {
      color: yellow;
      border: 1px solid yellow;
      background-color: rgba(225, 255, 0, 0.2);
    }

    .sunset {
      color: darkblue;
      border: 2px solid darkblue;
      background-color: rgba(0, 0, 255, 0.2);
    }
  }
}

.forecasts {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-between;

  .nextBtn,
  .prevBtn {
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;

    &:active {
      border-left: 4px solid yellow;
      border-bottom: 4px solid yellow;
    }

    &:before {
      content: ' ';
      width: 20px;
      height: 20px;
      display: inline-block;
      border-left: 4px solid darkblue;
      border-bottom: 4px solid darkblue;
      border-radius: 0 0 0 4px;
      margin-top: 5px;
    }
  }
  .nextBtn {
    transform: rotate(225deg);
    margin-right: 5px;
  }

  .prevBtn {
    transform: rotate(45deg);
  }
}

.hourly {
  margin-top: 30px;
  .card {
    display: flex;
    flex-flow: column nowrap;

    margin: 10px;

    background-color: rgba(17, 255, 0, 0.05);
    border-radius: 10px;
    box-shadow: 3px -2px 14px -1px rgba(100, 100, 0, 0.4);

    width: 150px;

    img {
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }

    span,
    time {
      text-align: center;
      margin: 5px 0;
    }

    span {
      @include weatherIcons(25px, 5px, 4, 0, 5);
    }
  }
}

.daily {
  margin-top: 100px;

  .card {
    width: 235px;
    padding: 15px 0;

    .sun {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

      margin: 30px 15px 10px;

      time {
        @include weatherIcons(40px, 0px, 1, 6, 8);

        font-size: 1.3em;

        &:before {
          top: -35px;
        }
      }
    }

    .predict {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      margin: 0 10px;
      padding-top: 20px;

      $dayStanceUrl: url(./assets/dayTime.png);
      $dayStanceSize: 100px 100px;

      span {
        margin: 0 10px;
        @include weatherIcons(
          30px,
          -5px,
          1,
          0,
          4,
          $dayStanceUrl,
          $dayStanceSize
        );

        &:before {
          top: -30px;
        }
      }
    }

    .other {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;

      margin: 20px 20px 10px;

      span {
        @include weatherIcons(25px, -34px, 1, 1, 6);
        margin: 10px 10px;
        min-width: 65px;
        text-align: left;
        font-size: 0.8em;

        &:before {
          top: -5px;
        }
      }
    }
  }
}

.dispRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-flow: row nowrap;
}

.card {
  display: flex;
  flex-flow: column nowrap;

  margin: 10px;

  background-color: rgba(17, 255, 0, 0.05);
  border-radius: 10px;
  box-shadow: 3px -2px 14px -1px rgba(100, 100, 0, 0.4);

  img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }

  span,
  time {
    text-align: center;
    margin: 5px 0;
  }
}
