@media only screen and (max-width: 420px) {
  .currentTemp {
    .sun {
      .sunrise,
      .sunset {
        margin: 20px;
        padding: 20px;

        font-size: 1.5em;
      }
    }
  }

  .container {
    width: 100%;

    .otherData {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: -100px;

      span {
        flex: 1;
        flex-basis: calc(50% - 10px);
        margin: 15px 5px;
      }
    }
  }

  .dispRow {
    .card {
      margin: 25px 15px;
    }
  }

  .citiesList {
    .list {
      width: 340px;
    }

    .cancel {
      bottom: -25%;
      right: 20%;
      transform: translate(-95%, 0);
    }
  }
}
