@media only screen and (max-width: 420px) {
  .currentTemp {
    .sun {
      .sunrise,
      .sunset {
        margin: 20px;
        padding: 20px;

        font-size: 1.5em;
      }
    }
  }

  .container {
    .otherData {
      flex-wrap: wrap;
      justify-content: center;

      span {
        margin: 10px 60px;
      }
    }
  }

  .dispRow {
    .card {
      margin: 25px 15px;
    }
  }
}
